# # eclipse
# bin
# *.launch
# .settings
# .metadata
# .classpath
# .project

# # idea
# out
# *.ipr
# *.iws
# *.iml
# .idea

# # gradle
# build
# .gradle

# # other
# eclipse

# run
/run/logs
/run/crash-reports
/run/saves

# run-data
# /run-data/logs
# /run-data/crash-reports
# /run-data/saves
# /run-data/mods
# /run-data/resourcepacks
# /run-data/config

# Files from Forge MDK
# forge*changelog.txt
